---
import Layout from '../layouts/Layout.astro';

// Import other pages we need to link to.
import Autocomplete from "./autocomplete/index.astro";
---

<Layout title="Welcome to Babel Validation" description="Babel Validation includes several JavaScript-based tools to test Babel tools.">
	<main>
		<h1>Babel Validation</h1>
		<p class="instructions">
			<a href="https://github.com/TranslatorSRI/babel">Babel</a> is the program that generates the datasets of
			interrelated identifiers that underlies <a href="https://github.com/TranslatorSRI/NodeNormalization">Node Normalization</a>
			and <a href="https://github.com/TranslatorSRI/NameResolution">Name Resolution</a>. This website is intended to
			provide allows JavaScript-based tests to be executed against different instances of these tools.
		</p>

		<h2>Individual queries</h2>
		<ul>
			<li><a href="./autocomplete/">Autocomplete with Name Resolver</a></li>
		</ul>

		<h2>Test sets</h2>
		<ul>
			<li><a href="/test-sets/nodenorm/">Node Normalization Test Sets</a></li>
			<li><a href="/test-sets/nameres/">Name Resolver Test Sets</a></li>
			<li><a href="/test-sets/nameres/character-by-character">Name Resolver Test Sets - character by character</a></li>
		</ul>
	</main>
</Layout>

<style>

</style>
