---
import Layout from '../../layouts/Layout.astro';
import PrefixComparator from '../../components/PrefixComparator.vue';
---
<Layout title="Babel Validation: Prefix Comparator" description="Compare two prefix comparator results.">
    <main>
        <small><a href=".">Return to front page</a></small>

        <h1>Prefix Comparator</h1>
        <p>
            I'll describe this one I figure out what it is.
        </p>

        <PrefixComparator client:only="vue" />
    </main>
</Layout>