# Ignore the root .env file.
/.env

# Ignore all data files.
data/
# But committed test fixtures in tests/data/ should be tracked.
!tests/data/

# From GitHub
*.class
*.log

# From Giter8
/.bsp/
target/

# Ignore .idea, files specific to the IntelliJ IDE.
.idea/
